h1 {
    margin: 40px 0px;
}

footer {
    width: 100%;
}

.footer-bottom {
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    flex-direction: column-reverse;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.all-forms {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.two-in-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.each-input {
    display: flex;
    flex-direction: column;
}

.input {
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 2px;
}

#iMessage {
    height: 150px;
    width: 200px;
}

#iButton {
    color: rgb(62, 231, 173);
    border: 3px double rgb(62, 231, 173);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 4px;
    background-color: black;
    width: 200px;
}

#iButton:hover {
    background-color: rgb(62, 231, 173);
    color: white;
}

label {
    padding: 2px;
}

@media screen and (min-width: 768px){
.two-in-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
}

.each-input {
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    width: 100%;
}

#iMessage {
    width: 100%;
}

}